@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --iriscolor: #4d5ae5; 
    --navyblue: #2e2f42;
    --navcolor: #434455;
    --oceancolor: #404BBF;
    --whitecolor: #FFFFFF;
    --slatecolor: #434455;
    --ghostwhite: #f4f4fd;
}

.link-logo {
    color: var(--iriscolor);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform:uppercase;
}

/* .link-logo {
   color: var(--iriscolor);
   font-weight: 800;
   text-transform: uppercase;
   text-decoration: none;
} */

.studio-logo {
    color: var(--navyblue);
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
}

.link-logos {
    color: var(--iriscolor);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* .link-logos {
    color: var(--iriscolor);
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}    */

.studio-logos {
    color: #f4f4fd;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
}

/* .studio-logos {
    color: #f4f4fd;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
} */

.navbar.pages{
    color: var(--navyblue);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/* .bodies.info {
    font-family: "Roboto", sans-serif;
    background-color: var(--whitecolor);
    color: var(--slatecolor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;   
} */

.lists{
    list-style-type: none; 

}

.navbar .pages:hover,
.navbar .pages:focus,
.navbar .pages.currentoption,
.contact-info .info:hover,
.contact-info .info:focus {
    color: var(--oceancolor);
}

contact-info.info {
    color: var(--navcolor);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-family: inherit;
    font-style: none;
}

.bg-section1 {
    background-color: var(--navyblue);
}
 
.h1-title {
    color: var(--whitecolor);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.05em;
}

.btn {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: inheret;
}

.btn.primary{
    background-color: var(--oceancolor);
    color: var(--whitecolor);
    font-weight: 800;
    line-height:1.5;
    letter-spacing: 0.05em;
}   

.btn.primary:hover,
.btb.primary:focus {
    background-color: hotpink;
}

.btn.filter {
    background-color: var(--whitecolor);
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 10px;   
}

.btn.filter:hover,
.btn.filter:focus,
.btn.filter.primary{
    background-color: var(--oceancolor);
    color: var(--whitecolor);
}
.desclist.titlelist {
    font-weight: 800;
    font-size: 16px;
    line-height: 1;
    color: var(--slatecolor);

}

.sectiontitle{
    text-align: center;
    color: var(--navyblue);
    font-size:36px;
    font-weight: 700;
    line-height: 1.5;
}

.teamname {
    color: var(--navyblue);
    font-weight: 500;
}

.position{
    color: var(--slatecolor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footerbg {
    background-color: var(--navyblue);
}

.lastword {
    color:#f4f4fd;
    font-family: "Roboto";
    line-height: 1.5;
    letter-spacing: 0.02em;


}

.pictures{
    text-decoration: none;
}

.pictures.parentlist{
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
    font-family: 'Roboto';
}

.pictures.childlist{
    color: var(--slatecolor);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}
