@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --iriscolor: #4d5ae5; 
    --navyblue: #2e2f42;
    --navcolor: #434455;
    --oceancolor: #404BBF;
    --whitecolor: #FFFFFF;
    --slatecolor: #434455;
    --ghostwhite: #f4f4fd;
}

.link-logo {
    color: var(--iriscolor);
    text-decoration: none;  
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform:uppercase;
}

/* .headcon {
    display: flex;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.h-shadow {
    box-shadow: 0px;
}

.link {
    text-decoration: none;
}

.studio-logo {
    color:#2e2f42;
}

.list {
    list-style: none;
    font-style: normal;
    gap:40px;

}

.nav-link-list {
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    padding: 24px 0 24px;
}

.nav-link-list:hover {
    color: #404bbf;
}

.nav-link-list:focus {
    color: #404bff;
}
.address {
    font-style: normal;
}

.address-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.address-list:hover {
    color:#404bbf;
}

.address-list:focus {
    color:#404bbf;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.studio-logo {
    color: var(--navyblue);
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.sectionone bg-sectionone {
    background-color: var(--navyblue);
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
}

.section-header {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px;
}


/* .navbar.lists.pages {
    color: #2e2f42;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.lists.pagescurrentoption {
    font-size: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--navyblue);
} */




/* .link {
    text-decoration: none;
}
.contact-info {
    color: var(--navcolor);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: inherit;
    font-style: normal;
    text-decoration: none;
}

.add.info {
    color: var(--navcolor);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: inherit;
    font-style: normal;
    text-decoration: none;
} */

/* .bg-sectionone {
    background-color: var(--navyblue);
}
  */
/* .one-title {
    color: var(--whitecolor);
    background-color: #4d5ae5;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
} */

/* .btn {
    cursor: pointer;
    border-color: transparent;
    letter-spacing: 0.05em;
    font-family: inheret;
} */

/* .btn.primary{
    background-color: #4D5AE5;
    color: var(--whitecolor);
    font-weight: 500;
    line-height:1.5;
    letter-spacing: 0.04em;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}    */

/* .btn.primary:hover,
.btn.primary:focus {
    background-color: #404BBF;
} */

/* .btn.filter {
    background-color: var(--whitecolor);
    color: var(--navyblue);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    padding: 10px;   
} */

/* .btn.filter:hover,
.btn.filter:focus,
.btn.filter.primary{
    background-color: var(--oceancolor);
    color: var(--whitecolor);
} */

/* .desclist.titlelist {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--slatecolor);

} */


/* .pages.currentoption {
    text-decoration: none;
} */

/* .pages {
    text-decoration: none;
} */

/* .criteria-list.titlelist {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
} */
/* .list.desclist {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
} */

/* .sectiontitle {
    text-align: center;
    color: var(--navyblue);
    font-size:36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #FFFFFF; 
    
} */

/* .teamname {
    color: var(--navyblue);
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    background-color: #FFFFFF;
} */

/* .position{
    color: var(--slatecolor);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
} */

/* .footerbg {
    background-color: var(--navyblue);
} */

/* .lastword {
    color:#f4f4fd;
    font-family: "Roboto";
    line-height: 1.5;
    letter-spacing: 0.02em;
} */

/* .pictures {
    text-decoration: none;
} */

/* .pictures.parentlist{
    color: var(--navyblue);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
} */

/* .pictures.childlist{
    color: var(--slatecolor);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
} */
